html {
    background-image: url('sun-clouds-cartoons_24640-26982.jpg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: #94C9DC;
    border-radius: 15px;
    padding: 20px;
    margin: 15px 100px 0 100px;
}

h2 {
    margin: auto;
    width: 300px;
}

p {
    font-size: 25px;
    margin: 20px auto;
    width: 100%;
}

h3 {
    background-color: #aaaaaa;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    background-color: lightyellow;
    border: solid 2px black;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

button:hover {
    background-color: #94C9DC;
    border: solid 2px #94C9DC;
    transition-duration: 0.3s;
}

.result {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto;
}

#suggestion {
    font-size: 25px;
    margin: 0 140px;

}

@media (min-width: 768px) {
   
     html {
        background-image: url('sun-clouds-cartoons_24640-26982.jpg');
        background-size: 20%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right bottom;
        font-family: "Open Sans Condensed", sans-serif;
        text-align: center;
     }
    

    h1 {
        background-color: #94C9DC;
        border-radius: 15px;
        padding: 20px;
        width: 520px;
        margin: 15px auto;
    }

    h2 {
        margin: auto;
        width: 100%;
    }

    button {
        background-color: lightyellow;
        border: solid 2px black;
        padding: 10px;
        width: 200px;
        margin: 20px auto;
        border-radius: 5px;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 28px;
        font-weight: bold;
    }

    #suggestion {
        font-size: 25px;
        margin: auto;
        width: 400px;
    }
}
